{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "html", "prettier"],
  "extends": ["plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended"]
}
